@import url("https://rsms.me/inter/inter.css");

html,
body,
#root {
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Inter var", sans-serif;
  display: flex;
  justify-content: center;

  background: linear-gradient(
    312deg,
    #fa709a,
    #b076f5,
    #9face6,
    #5f92e6,
    #eab050,
    #11cacc,
    #de6ef7,
    #91db80,
    #f9a9b7,
    #8b74e6,
    #d2c838,
    #5fc6dd
  );
  background-size: 2400% 2400%;

  -webkit-animation: AnimationName 47s ease infinite;
  -moz-animation: AnimationName 47s ease infinite;
  -o-animation: AnimationName 47s ease infinite;
  animation: AnimationName 47s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 90%;
  }
  50% {
    background-position: 100% 11%;
  }
  100% {
    background-position: 0% 90%;
  }
}

#root {
  width: 76ch;
}

h1 {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 40px;
  font-size: 4em;
  line-height: 0.7em;
  letter-spacing: -6px;
  color: #272731;
  z-index: 100;
}

.picker {
  position: absolute !important;
  top: 74px;
  left: 70px;
  width: 90px !important;
  height: 90px !important;
  z-index: 99;
}

.author {
  position: absolute;
  top: 43px;
  left: 140px;
  padding: 0;
  margin: 20px;
  font-size: 3em;
  line-height: 0.65em;
  letter-spacing: -6px;
  color: #272731;
  opacity: 0.05;
}
